<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="styl/styl.css")
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:300&subset=latin,latin-ext,greek,cyrillic' rel='stylesheet' type='text/css')
    title Document
  body
    p hello world!
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
