<!DOCTYPE html>
html(lang="en")
	head
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu:300,400", type='text/css')
		link(rel="stylesheet", href="sty.css", type='text/css', media="screen")
		meta(charset="UTF-8")
		title test
	body
		p hello world!
